a.mlink { 
    color:#000; 
    text-decoration:none;
}
.dynamenu { 
    background-color: #aaaaaa; 
    width:300px; 
    margin:5px; 
    padding:5px; 
    font-family: "Tahoma";
    font-size: 9pt;        
}